body{
    margin: 0;
    padding: 0;
    background-color: rgb(39, 48, 85);
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.img{
    margin-top: 120px;
    width: 200px;
    
}

button{
    border-style: none;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
button:hover{
    background-color: rgb(144, 181, 212);
    cursor: pointer;
}

.textoFrase{
    color: white;
}